# FILES
texts
charleston-2018.Rds
sim-data.Rds
sim-params.Rds
sim-iterations.Rds
cluster_votes.pdf
cluster_votes.tex
10_fit-EM_real-data.Rmd
10_fit-EM_real-data.pdf
10_fit-EM_real-data.tex
data
figures
sk_rmarkdown.sty
*.html

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store


# TEX
*.synctex.gz
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

