# FILES
texts
charleston-2018.Rds
sim-data.Rds
sim-params.Rds
data/mcmc
*.html

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store


# TEX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

